/* Estilo padrão (Modo Claro) */
body {
  background-color: #ffffff;
  color: #000000;
}

/* Estilo para quando o JS adicionar a classe 'modo-escuro' */
#botao-tema {
  background-color: #121212;
  color: #ffffff;
}